<div class="container py-5">
  <h1>Create a movie list</h1>

  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %><br>
    <%= f.input :photo, as: :file %><br>
    <%= f.submit class: "btn-flat"%>
  <% end %><br>

  <%= link_to "Back", root_path, class:"btn-ghost" %>
</div>
