<!DOCTYPE html>
<html>
  <head>
    <title>The Worst Movie List</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
        <%= link_to root_path, class: "navbar-brand" do %>
          <i class="fas fa-film"></i>
        <% end %>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <%= link_to "Create a list", new_list_path, class: "btn btn-flat" %>
            </li>
          </ul>
        </div>
      </div>
    <%= yield %>
  </body>
</html>
